# TYPE  DATABASE        USER            ADDRESS                 METHOD

# "local" is for Unix domain socket connections only
local   all             all                                     peer
# IPv4 local connections:
host    all             all             127.0.0.1/32             md5
{% if is_docker == "false" %}
host    all             all             {{ omni_fqdn }}          md5
{% else %}
host    all             all             "{{ subnet }}"          md5
host    all             all             {{ omni_fqdn }}          md5
{% endif %}
# IPv6 local connections:
host    all             all             ::1/128                 md5
# Allow replication connections from localhost, by a user with the
# replication privilege.
#local   replication     postgres                                peer
#host    replication     postgres        127.0.0.1/32            ident
#host    replication     postgres        ::1/128                 ident
